.table td, .table th {
    border-top: 0px solid #dee2e6;
}

.table thead th {
    border-bottom: 0px solid #dee2e6;
}

.menu th{
    font-size: small;
}

.menu i{
    font-size: 20px;
    padding: 2px;
}

.btn-light{
    background-color: #F8F9FA;
}